:root{
    /* font-size */
    --fs-sm: 12px;
    --fs-sm-1: 14px;
    --fs-sm-2: 16px;
    --fs-sm-3: 18px;
    --fs-md: 19px;
    --fs-md-1: 20px;
    --fs-md-2: 21px;
    --fs-md-3: 22px;
    --fs-lg: 24px;
    --fs-lg-1: 26px;
    --fs-lg-2: 28px;
    --fs-lg-3: 30px;
    --fs-xl: 40px;
    --fs-xl-1: 46px;
    --fs-xl-2: 56px;
    --fs-xl-3: 84px;

   /* color */
   --black: #2D3134;
   --light-black: #5B5F62;
   --blue: #2E476B;
   --orange: #F66F4D;
   --color-94: #9498A4;
   --color-FA: #FAF8ED;
   --white: #FFF;
   --silver: #676A6C;
   --silver: #3D3D3D;
   --silver: #FDFEFF;
   --silver: #939597;

}
/*font-size */
.fs-sm{
    font-size: var();
}
.fs-s-sm{
    --fs-sm-1: 14px;
}
.fs-m-sm{
    --fs-sm-2: 16px;
}
.fs-xl-sm{
    --fs-sm-3: 18px;
}
.fs-md{
    --fs-md: 19px;
}
.fs-s-md{
    --fs-sm: 12px;
}
.fs-m-md{
    --fs-sm: 12px;
}
.fs-xl-md{
    --fs-sm: 12px;
}
.fs-sm{
    --fs-sm: 12px;
}
.fs-sm{
    --fs-sm: 12px;
}
.fs-sm{
    --fs-sm: 12px;
}
.fs-sm{
    --fs-sm: 12px;
}