:root {
    /* font-size */
    --fs-sm: 12px;
    --fs-sm-1: 14px;
    --fs-sm-2: 16px;
    --fs-sm-3: 18px;
    --fs-md: 19px;
    --fs-md-1: 20px;
    --fs-md-2: 21px;
    --fs-md-3: 22px;
    --fs-lg: 24px;
    --fs-lg-1: 26px;
    --fs-lg-2: 28px;
    --fs-lg-3: 30px;
    --fs-xl: 35px;
    --fs-xl-1: 46px;
    --fs-xl-2: 35px;
    --fs-xl-3: 40px;


    /* color */
    --black: #2D3134;
    --light-black: #5B5F62;
    --blue: #2E476B;
    --orange: #F66F4D;
    --silver-light: #9498A4;
    --cream: #FAF8ED;
    --white: #FFF;
    --gray: #676A6C;
    --dark-gray: #3D3D3D;
    --white-fd: #FDFEFF;
    --silver: #939597;

}

/*font-size */
.fs-sm {
    font-size: var(--fs-sm);
}

.fs-s-sm {
    font-size: var(--fs-sm-1);
}

.fs-m-sm {
    font-size: var(--fs-sm-2);
}

.fs-x-sm {
    font-size: var(--fs-sm-3);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-s-md {
    font-size: var(--fs-md-1);
}

.fs-m-md {
    font-size: var(--fs-md-2);
}

.fs-x-md {
    font-size: var(--fs-md-3);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-s-lg {
    font-size: var(--fs-lg-1);
}

.fs-m-lg {
    font-size: var(--fs-lg-2);
}

.fs-x-lg {
    font-size: var(--fs-lg-3);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-s-xl {
    font-size: var(--fs-xl-1);
}

.fs-m-xl {
    font-size: var(--fs-xl-2);
}

.fs-x-xl {
    font-size: var(--fs-xl-3);
}

/* color */
.color-black {
    color: var(--black);
}

.light-black {
    color: var(--light-black);
}

.color-blue {
    color: var(--blue);
}

.color-orange {
    color: var(--orange);
}

.color-silver-light {
    color: var(--silver-light);
}

.bg-cream {
    background-color: var(--cream);
}

.color-white {
    color: var(--white);
}

.color-gray {
    color: var(--gray);
}

.color-dark-gray {
    color: var(--dark-gray);
}

.color-white-FD {
    color: var(--white-fd);
}

.color-silver {
    color: var(--silver);
}


@media (min-width:576px) {
    :root {
        --fs-xl-2: 56px;
        --fs-xl: 40px;
        --fs-xl-3: 50px;
    }
}

@media (min-width:576px) {
    :root {
        --fs-xl-3: 84px;
    }
}