@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Sen:wght@400;500;600;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
}

.my-container{
    max-width: 1170px !important;
}

.ff-inter{
    font-family: 'Inter', sans-serif;
}   
.ff-poppins{
    font-family: 'Poppins', sans-serif;
} 
.ff-sen{
    font-family: 'Sen', sans-serif;
}

/* padding */
.pr-72{
    padding-right: 72px;
}
.pl-57{
    padding-left: 57px;
}
.pl-26{
    padding-left: 26px;
}
.pl-34{
    padding-left: 34px;
}
.pr-34{
    padding-right: 34px;
}

.pt-100{
    padding-top: 100px;
}

.pl-12{
    padding-left: 12px;
}
.pr-12{
    padding-right: 12px;
}



/* nav-section */
.line::before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2%;
    transition: .4s;
    background-color: var(--orange);
}
.line:hover::before{
    
    width: 100%;
}

.nav-btn{
    border-radius: 27px;
    padding: 19px 34px;
    border: 1.4px solid var(--orange);
    background: transparent;
}
 ul {
     margin-bottom: unset !important;
     padding-left: unset !important;
}

p{
    margin-bottom: unset !important;
}

/* discover-section */
.mx-485{
    max-width: 485px;
}

.crd{
    border-radius: 38px;
background: #FDFEFF;
padding: 20px 28px;
}
.crd:hover{ 
box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);

}

.border-right{
    border-right: 1px solid #EAEAEB;       
}


 
 /* categories */
 .mx-353{
    max-width: 353px;
 }

 .visite-h{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 38%;
    opacity: 0;
    transition: .4s;
 }
 .visite-img:hover .visite-h{
  opacity: 1;
 }
  
  span:hover svg path {
    stroke: white;
    cursor: pointer;
  }
  span:hover svg circle {
    fill: #2d3134;
    cursor: pointer;
  }
 


 /*  our-story have adventure */
 .mx-430{
    max-width: 430px;
 }


 .mini-crd{
    border-radius: 14px;
background: rgba(255, 255, 255, 0.70);
padding: 30px 26px;
 }

 /*  Find Popular Destination  */
 
 .mx-400{
    max-width: 400px;
 }

 .large-crd{
    border-radius: 16px;
border: 2px solid #FFF;
background: #FAF8ED;
padding: 12px 12px;
box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
 }


 

 .book-now-btn{
    border-radius: 46px;
border: 1px solid #2D3134;
padding: 12px 16px;
background: transparent;
 }
 .book-now-btn:hover{
    color: var(--white);  
    background-color: var(--black);

 }

 /* Top Destinations */






@media (max-width:991.8px) {
    label[id="menuicon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 5%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }
    label[id="menuicon"]>span {
        width: 100%;
        height: 5px;
        background: black;
    }
    .nav-bar {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: var(--cream);
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: .8s;
    }
    .fixed-lft {
        left: 0;
    }
}